.left_sidebar{
  height: 100vh;
  position: fixed;
  left: 50px;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  ul{
    li{
      margin-bottom: 50px;
      font-family: 'Comfortaa', cursive;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 100%;
      &:first-of-type{
        font-size: 20px;
      }
      a{
        width: 70px;
        height: 70px;
        background: #F5FAFF;
        box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
        border-radius: 50%;
        overflow: hidden;
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 16px;
        transition: 0.4s ease;
        span{
          padding: 0 22px;
          font-size: 25px;
          color: $lime_green;
        }
        &:hover{
          border-radius: 190px;
          width: max-content;
          color: $lime_green;
        }
      }
      .kkal{
        padding-left: 12px;
      }
    }
  }
}